#morris-bar-chart {
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}

#morris-table-left-div {
    /*height: 350px;
    overflow: hidden;*/
}
.header-row {
    padding: 0 18px;
}
.header-column {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    font-weight: 300;
    color: #555;
    /*border: 1px solid grey;*/
    padding: 0px;
    width: 24%;
    box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
}
.list-group-column {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    font-weight: 300;
    color: #555;
    /*border: 1px solid grey;*/
    padding: 0px;
    width: 24%;
}

.text-right .huge {
    font-size: 26px;
}

.panel-primary .panel-footer {
    border-bottom: 1px solid #337ab7;
}

.job-lists-box {
    background-color: white;
    display: flow-root;

}

.job-container {
    padding: 5px 10px 5px 10px;
    background-color: white;
}

.job-box {
    display: flow-root;
}

.job-box .job-name {
    font-size: 18px;
    font-weight: 600;
}

.job-box .job-seq {
    font-size: 18px;
}

.job-box .job-prog {
    font-size: 15px;
}


.job-lists-opener {
    padding: 0 10px 0 10px;
}


/****** dashboard panel *****/

.panel-ERROR {
    border-color: #d9534f;
}

.panel-ERROR > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-ERROR .panel-footer {
    border-bottom: 1px solid #dfdfdf;
}

.panel-ERROR a {
    color: #d9534f;
}

.panel-ERROR a:hover {
    color: #b52b27;
}

.panel-SUCCESS {
    border-color: #5cb85c;
}

.panel-SUCCESS > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-SUCCESS .panel-footer {
    border-bottom: 1px solid #dfdfdf;
}

.panel-SUCCESS a {
    color: #5cb85c;
}

.panel-SUCCESS a:hover {
    color: #3d8b3d;
}

.panel-START {
    border-color: #f0ad4e;
}

.panel-START > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-START .panel-footer {
    border-bottom: 1px solid #dfdfdf;
}

.panel-START a {
    color: #f0ad4e;
}

.panel-START a:hover {
    color: #df8a13;
}

.panel-READY {
    border-color: #8f8f8f;
}

.panel-READY > .panel-heading {
    border-color: #8f8f8f;
    color: #fff;
    background-color: #8f8f8f;
}

.panel-READY .panel-footer {
    border-bottom: 1px solid #dfdfdf;
}

.panel-READY a {
    color: #8f8f8f;
}

.panel-READY a:hover {
    color: #6f6f6f;
}
