<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="dashboard-fragment">
    <!-- /.row -->
    <div class="row">
        <th:block th:each="activeGroup : ${activeGroups}">
            <div class="group-container" th:attrappend="class=${' ' +activeGroup.triggerGroup+ '-container'}">
                <th:block th:each="trigger : ${triggers}">
                    <div class="col-lg-3 col-md-6" th:if="${#strings.equals(activeGroup.triggerGroup, trigger.triggerGroup)}">
                        <div class="panel" th:attrappend="class=${' panel-' +trigger.triggerExecStaCd}">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><span th:text="${trigger.triggerName}"> triggerStatus </span></div>
                                        <div><span th:text="${trigger.triggerGroup}"> triggerGroup </span></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">최근 수행 시간 </span>
                                    <span class="pull-right" th:text="${trigger.prevFireTime}"> prevFireTime</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left">다음 수행 시간</span>
                                    <span class="pull-right" th:text="${trigger.nextFireTime}"> nextFireTime</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <div class="job-lists-container" th:attrappend="class=${' ' +trigger.triggerName + '-con'}">
                                <a class="job-lists-opener-con before-open" th:attr="onclick=|openJobDatas('${trigger.triggerName}', '${trigger.triggerGroup}');|">
                                    <div class="job-lists-opener">
                                        <span class="pull-right">잡 펼치기 <i class="fa fa-arrow-circle-down"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="job-lists-box" th:attrappend="class=${' ' +trigger.triggerName + '-box'}">

                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>