<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout/baseLayout}">
<head>
    <th:block layout:fragment="pageCustomCss">
        <link rel="stylesheet" href="/css/dataTables/dataTables.bootstrap-1.10.20.css">
        <link rel="stylesheet" href="/css/dataTables/rowGroup.dataTables.min-1.1.1.css">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <input class="active-button" type="hidden" value="">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!-- DataTales -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>트리거명</th>
<!--                                    <th>시작시간</th>-->
                                    <th>시퀀스</th>
                                    <th>프로그램명</th>
                                    <th>프로그램설명</th>
                                    <th>시작시간</th>
                                    <th>종료시간</th>
                                    <th>잡실행상태코드</th>
                                    <th>잡실행결과</th>
<!--                                    <th>파라미터1</th>-->
<!--                                    <th>파라미터2</th>-->
<!--                                    <th>파라미터3</th>-->
<!--                                    <th>실행CMD</th>-->
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>트리거명</th>
<!--                                    <th>시작시간</th>-->
                                    <th>시퀀스</th>
                                    <th>프로그램명</th>
                                    <th>프로그램설명</th>
                                    <th>시작시간</th>
                                    <th>종료시간</th>
                                    <th>잡실행상태코드</th>
                                    <th>잡실행결과</th>
<!--                                    <th>파라미터1</th>-->
<!--                                    <th>파라미터2</th>-->
<!--                                    <th>파라미터3</th>-->
<!--                                    <th>실행CMD</th>-->
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div id="page-wrapper-inside"></div>
    </div>
</th:block>

<th:block layout:fragment="pageCustomScript">
    <script src="/js/dataTables/jquery.dataTables.min-1.10.20.js"></script>
    <script src="/js/dataTables/dataTables.bootstrap.min-1.10.20.js"></script>
    <script src="/js/dataTables/dataTables.rowGroup.min-1.1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let time;
            $('#dataTable').DataTable({
                "ajax": '/history/all',
                "columns": [
                    { "data": "triggerName" },
                    // { "data": "triggerSttDtm" },
                    { "data": "execProgSeq" },
                    { "data": "execProgName" },
                    { "data": "summary" },
                    { "data": "jobSttDtm" },
                    { "data": "jobEndDtm" },
                    { "data": "jobExecStaCd" },
                    { "data": "jobExecRslt" }
                    // { "data": "execParam1" },
                    // { "data": "execParam2" },
                    // { "data": "execParam3" },
                    // { "data": "execCmd" },
                ],
                rowGroup: {
                    startRender: null,
                    endRender: function ( rows, group ) {
                        let triggerName = rows.data()[0].triggerName;
                        // let jobSttDtm = convertStrToDate(rows.data()[rows.length-1].jobSttDtm);
                        // let jobEndDtm = convertStrToDate(rows.data()[rows.length-1].jobEndDtm);

                        let execTime = 0;
                        rows.data().each(function(data){
                            if(data.jobSttDtm == null || data.jobEndDtm == null){
                                console.log('시작시간 또는 종료시간이 null');
                                return true;
                            }

                            execTime += (convertStrToDate(data.jobEndDtm) - convertStrToDate(data.jobSttDtm))/1000;
                        });

                        return triggerName + ' 실행이력 : 트리거 시작(' + formatTime(group) + '), 프로그램('+rows.count()+' 건), 실행시간(' + execTime + ' 초)';
                    },
                    dataSrc: 'triggerSttDtm'
                }
            });
        });

        function convertStrToDate(str){
            return new Date(str.slice(0, 4), str.slice(4, 6) - 1, str.slice(6, 8),
                str.slice(8, 10), str.slice(10, 12), str.slice(12, 14));
        }

        function formatTime(str){
            return str.slice(0, 4) + '/' + str.slice(4, 6) + '/' + str.slice(6, 8) + ' '
                    + str.slice(8, 10) + ':' + str.slice(10, 12) + ':' + str.slice(12, 14);
        }
    </script>

</th:block>
</body>
</html>
