<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout/baseLayout}">
<head>
    <th:block layout:fragment="pageCustomCss">

    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <input class="active-button" type="hidden" value="">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--            <h1 class="page-header">Dashboard</h1>-->
                <div class="group-button-container">
                    <div class="group-button ALL-button" onclick="getDashboardSection('ALL')" >
                        <span>ALL</span>
                    </div>
                    <th:block th:each="triggerGroup : ${triggerGroup}">
                        <div class="group-button" th:attrappend="class=${' ' + triggerGroup.triggerGroup + '-button'}" th:attr="onclick=|getDashboardSection('${triggerGroup.triggerGroup}');|" >
                            <span th:text="${triggerGroup.triggerGroup}">triggerGroup</span>
                        </div>
                    </th:block>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div id="page-wrapper-inside"></div>
    </div>
</th:block>

<th:block layout:fragment="pageCustomScript">
    <script type="text/javascript">
        $(document).ready(function () {
            getDashboardSection("ALL");
            // getTriggerDashboard("ALL");
        });

        const getDashboardSection = (activeButton) => {
            // $('#page-wrapper').load("/monitoring");

            $('.active-button').val(activeButton);

            $('#page-wrapper-inside').empty();
            $('#page-wrapper-inside').load("/dashboard/" + activeButton);

            $('.active.group-button').removeClass("active");
            $('.' + activeButton + '-button').addClass("active");
        };

    </script>
    <script th:src="@{/js/app/monitoring.js}"></script>
</th:block>
</body>
</html>
