<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout/baseLayout}">
<head>
    <th:block layout:fragment="pageCustomCss">
        <link rel="stylesheet" href="/css/app/style.css">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <input class="active-button" type="hidden" value="">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--            <h1 class="page-header">Dashboard</h1>-->
                <div class="group-button-container">
                    <div class="group-button ALL-button" onclick="getDashboardSection('ALL')" >
                        <span>ALL</span>
                    </div>
                    <th:block th:each="triggerGroup : ${triggerGroup}">
                        <div class="group-button not-all" th:attrappend="class=${' ' + triggerGroup.triggerGroup + '-button'}" th:attr="onclick=|getDashboardSection('${triggerGroup.triggerGroup}');|" th:name="${triggerGroup.triggerGroup}">
                            <span th:text="${triggerGroup.triggerGroup}">triggerGroup</span>
                        </div>
                    </th:block>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <ul class="contextmenu">
            <li><a class="pause-a" href="javascript:void(0);">Pause</a></li>
            <li><a class="resume-a" href="javascript:void(0);">Resume</a></li>
            <li><a class="kill-a" href="javascript:void(0);">Kill</a></li>
            <li><a class="rerun-a" href="javascript:void(0);">Rerun</a></li>
            <li><a class="modify-a" href="javascript:void(0);">Modify</a></li>
<!--            <li><a href="#">Link to nowhere</a></li>-->
<!--            <li><a href="#">Random link</a></li>-->
        </ul>
        <div id="page-wrapper-inside">
            <div id="scrollbar">
                <div class="wrapper">
                    <th:block th:each="triggerGroup : ${triggerGroup}">
                        <div class="group-container item " th:attrappend="class=${' ' +triggerGroup.triggerGroup+ '-container'}" th:name="${triggerGroup.triggerGroup}">
                            <h2><span th:text="${triggerGroup.triggerGroup}">triggerGroup</span></h2>
                            <div class="group-trigger-container" th:attrappend="class=${' ' +triggerGroup.triggerGroup+ '-trigger-container'}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="pageCustomScript">
    <script type="text/javascript">
        $(document).ready(function () {
            getDashboardSection("ALL");
        });

        const getDashboardSection = (activeButton) => {
            // $('#page-wrapper').load("/monitoring");

            $('.active-button').val(activeButton);

            $('#group-trigger-container').empty();

            if(activeButton==='ALL') {
                $('.group-container').css({"display": "block"});
                $.each(document.getElementsByClassName("not-all"), function (i, div) {
                    const target = div.getAttribute("name");
                    $('.'+ target + "-trigger-container").load("/dashboard/" + target);
                });
            } else {
                $('.group-container').css({"display": "none"});
                $('.'+ activeButton + "-container").css({"display": "block"});
                $('.'+ activeButton + "-trigger-container").load("/dashboard/" + activeButton);
            }

            $('.active.group-button').removeClass("active");
            $('.' + activeButton + '-button').addClass("active");
        };

    </script>
    <script src="/js/smooth-scrollbar-8.3.1/smooth-scrollbar.js"></script>
    <script src="/js/TweenMax-2.0.2.js"></script>
    <script src="/js/smooth-scrollbar-8.3.1/plugins-overscroll.js"></script>
    <script th:src="@{/js/app/dashboard-scroll.js}"></script>
    <script th:src="@{/js/app/monitoring.js}"></script>
</th:block>
</body>
</html>
